
.center-container {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight:  bold
}